html {
    font-size: 16px;
    background-color: #808080;
    color: aliceblue;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
}

main {
    width: 100vw;
    height: 100vh;
}

.group {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}