html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    color: aliceblue;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    box-shadow: 0 -4px 10px inset rgba(0, 0, 0, 0.2);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    
    opacity: 0;
    transition: opacity .3s ease;

    background-size: cover;
    background-position: center;
    z-index: -1;
}

.background-image.loaded {
    opacity: 1;
    transition: opacity .3s ease;
}

main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.settings-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--primary-color);
    transition: background-color 0.1s, transform 0.2s;
    rotate: 0deg;
    scale: 1;
}

.settings-button:hover {
    background-color: var(--accent-color);
    transform: scale(1.1) rotate(90deg);
    transform-origin: center;
    rotate: 90deg;
    scale: 1.05;
    transition: background-color 0.2s, transform 0.25s;
}

.main-content {
    position: relative;
    top: 0;
    width: 100vw;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.groups-container {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 0;
}

.bottom-section {
    width: 100vw;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bottom-content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color)
}