.background-image {
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 1px 1px, var(--t-col) 1.5px, transparent 1.6px);
    background-repeat: repeat;
}

.group {
}

.group .group-header {
    position: relative;
}

.group .list {
    position: relative;
}

.group-hover-popup {
    display: flex;
    justify-content:end;
    right: 0;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    transform: translateY(100%);
    transition: transform 0.3s, opacity 0.3s;
}

.group-hover-popup button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--p-col);
    color: var(--t-col);
    cursor: pointer;
    transition: background-color 0.2s;
}

.group:hover .group-hover-popup {
    opacity: 1;
    transform: translateY(0);
}

.grid .link:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: box-shadow 0.8s ease, scale .2s ease;
    scale: 1;
}

.buttons-container .button {
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    color: var(--t-col);
    background-color: var(--p-col);
    transition: background-color 0.1s, transform 0.2s;
    scale: 1;
}

.buttons-container .button img {
    width: 100%;
    height: 100%;
    color: var(--t-col);
}

.buttons-container .button:hover {
    background-color: var(--a-col);
    transform: scale(1.1);
    transform-origin: center;
    scale: 1.05;
    transition: background-color 0.2s, transform 0.25s;
}

.buttons-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-editor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: var(--b-col);
    border: 2px solid var(--p-col);
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}